h1{
  padding-top: 40px;
  text-align: center;
  color:white;
  font-variant:small-caps;
}

body{
background-image: url(D:\Users\Huzaifa\Documents\GitHub\wasteradar_project\images\background.jpeg);
}
.navbar{
  background-color: white;
}
h1{
  padding-top: 40px;
  text-align: center;
  color:white;
  font-variant:small-caps;
}

.banner{
  width:100%;
   height: 100vh;
   position: relative;
   overflow: hidden;
}
.slider img{
  width:100%;
  height:100vh;
  position: absolute;
  top:0;
  opacity: 0.5;
}
.navbar{
  background-color: white;
}
.overlay{
  width:100%;
  height: 100vh;

  position: absolute;
  top:0;}

.card1{
  width: 30%;
  margin-top: 5%;
  background:rgba(76,175,80,0.4);

  float: left;
}
.card2{
  margin-top: 5%;
  margin-left: 35%;
  width: 30%;
  background-color:rgba(76,175,80,0.4 );

}
.card3{
  margin-top: 5%;
  float: right;
  width: 30%;
  background: rgba(150, 70,30,  0.4);

}
h5{

  font-size: 23px;
  font-style: italic;
  color: white;
}
h3{
  font-family:fantasy;
  color: white;
}

