h1{
  padding-top: 40px;
  text-align: center;
  color:white;
  font-variant:small-caps;
}

body{
background-image: url(D:\Users\Huzaifa\Documents\GitHub\wasteradar_project\images\background.jpeg);
}
.navbar{
  background-color: white;
}
