body{
    background-color:  #ccc;
  }
  .body {
    font-family: sans-serif;
    margin: 0 auto;
    padding: 25px;
    max-width: 500px;
    min-width: 500px;
    background-color: #ccc;
    text-align: center;
  }
  .navbar {
    width:100%;
  }
  
  .heading {
    text-align: center;
    font-size: 2em;
    font-family: sans-serif;
    color: #2d3436;
    margin: 20px 0 30px;
  }
  
  .card {
    border-radius: 25px;
    position: relative;
    padding: 25px 15px;
    background-color: #81ecec;
    margin: 50px 0;
    height: 300px;
    box-shadow: 0 2px 5px #ccc;
    text-align: left;
  }
 
  
  .top {
    border-radius: 25px 25px 0 0;
    height: 100px;
    width: 100%;
    background-color: #00cec9;
    position: absolute;
    top: 0;
    left:0 ;
    display: flex;
  }
  
  .name {
    font-size: 2em;
    color: #2d3436;
    display: flex;
    flex: 1;
    margin: 7% 20px 0;
  }
  
  .card img {
    margin: 30px 20px 0 0;
  }
  
  .circle-img {
    border-radius: 50%;
    border: 7px solid #fff;
    width: 140px;
    height: 140px;
  }
  
  
  .bottom {
    margin-top: 120px;
  }
  
  .info {
    margin: 20px 0;
    color: #1a7e76;
  }
  body {
    font-family: 'Roboto', sans-serif;
}
.follow-widget {
    text-align: center;
    width: 90%;
    margin: 50px auto;
    display: table;
    border: 1px solid #ddd;
    padding: 10px 10px 20px;
    border-radius: 10px;
}
.follow-widget h2 {
    border-bottom: 1px solid #ddd;
    padding: 0px 0px 25px;
    font-size: 26px;
    letter-spacing: 1px;
}
.follow-widget ul{
    padding: 0px;
    margin: 0px;
}
.follow-widget li {
    float: left;
    list-style: none;
    font-size: 20px;
    text-align: center;
    margin: 10px 0px 10px;
    width: 16.666%;
}
.follow-widget li a i {
    background-color: #f1f1f1;
    color: #fff;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    line-height: 43px !important;
}
.follow-widget li a i:hover{
    opacity: 0.8;
}
.follow-widget li a i.fa.fa-facebook {
    background-color: #3b5997;
}
.follow-widget li a i.fa.fa-twitter {
    background-color: #57aced;
}
.follow-widget li a i.fa.fa-pinterest-p {
    background-color: #cb2026;
}
.follow-widget li a i.fa.fa-instagram {
    background-color: #3e729a;
}
.follow-widget li a i.fa.fa-google-plus {
    background-color: #db4d41;
}
.follow-widget li a i.fa.fa-youtube-play {
    background-color: #c42f2b;
}  