h1{
  padding-top: 40px;
  text-align: center;
  color:white;
  font-variant:small-caps;
}
body{

  background-image: url(/Users/sanjaleralil/Desktop/wasteradar/images/background.jpeg);
}
.navbar{
  background-color: white;
}

h3{
   font-style: italic;

}
.cards{
  float:left;
  background-color: white;
  border-radius: 20%;
  width:30%;
}
.cards2{
  float:right;
width:30%;
background-color: white;

}
.cards img{
  border-radius: 20%;
  width: 100%;
}
.cards2 img{
  border-radius: 20%;
}

.tagline{
  text-align:center;
  font-family: cursive;

}
.image img{
  border-radius: 20px;
}
